{{ define "main" }}
{{- $aboutPage := .Site.GetPage "/about" }}
{{- if $aboutPage }}
<article class="post-single">
  {{- if not (.Param "hideMeta") }}
  <header class="post-header">
    <h1 class="post-title">{{ $aboutPage.Title }}</h1>
  </header>
  {{- end }}
  {{- if $aboutPage.Params.ShowToc }}
  {{- partial "toc.html" $aboutPage }}
  {{- end }}

  <div class="post-content">
    {{- $aboutPage.Content | safeHTML }}
  </div>

  <footer class="post-footer">
  </footer>
</article>
{{- end }}
{{ end }}

